@font-face {
  font-family: 'knst-ci';
  src: url('../../fonts/knst-ci.eot?171214#iefix') format('embedded-opentype'), url('../../fonts/knst-ci.ttf?171214') format('truetype'), url('../../fonts/knst-ci.woff?171214') format('woff'), url('../../fonts/knst-ci.svg?171214#knst-ci') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'knst-ci' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gotowork:before {
  content: "\e900";
}

.icon-offwork:before {
  content: "\e901";
}

.icon-warning:before {
  content: "\e902";
}

.icon-assets-keyin:before {
  content: "\e903";
}

.icon-assets-lend:before {
  content: "\e904";
}

.icon-assets-manage:before {
  content: "\e905";
}

.icon-assets-return:before {
  content: "\e906";
}

.icon-assets-search:before {
  content: "\e907";
}

.icon-patrol:before {
  content: "\e908";
}

.icon-offline:before {
  content: "\e909";
}

.icon-cashManagement:before {
  content: "\e90a";
}

.icon-cashDeposit:before {
  content: "\e90b";
}

.icon-cashReceive:before {
  content: "\e90c";
}

.icon-cashRecord:before {
  content: "\e90d";
}

.icon-r-foods:before {
  content: "\e90e";
}

.icon-r-learn:before {
  content: "\e90f";
}

.icon-r-leisure:before {
  content: "\e910";
}

.icon-r-movie:before {
  content: "\e911";
}

.icon-r-other:before {
  content: "\e912";
}

.icon-r-public:before {
  content: "\e913";
}

.icon-r-sport:before {
  content: "\e914";
}

.icon-punch:before {
  content: "\e915";
}

.icon-record:before {
  content: "\e916";
}

.icon-collectionP:before {
  content: "\e917";
}

.icon-cabinet:before {
  content: "\e918";
}

.icon-file-paper:before {
  content: "\e919";
}

.icon-store:before {
  content: "\e91a";
}

.icon-calendar:before {
  content: "\e91b";
}

.icon-collection:before {
  content: "\e91c";
}

.icon-direct-get:before {
  content: "\e91d";
}

.icon-truck:before {
  content: "\e91e";
}

.icon-postal-full:before {
  content: "\e91f";
}

.icon-clip:before {
  content: "\e920";
}

.icon-pdf:before {
  content: "\e921";
}

.icon-photofile:before {
  content: "\e922";
}

.icon-word:before {
  content: "\e923";
}

.icon-ppt:before {
  content: "\e924";
}

.icon-service-online:before {
  content: "\e925";
}

.icon-minimal:before {
  content: "\e926";
}

.icon-printer:before {
  content: "\e927";
}

.icon-excel:before {
  content: "\e928";
}

.icon-upload:before {
  content: "\e929";
}

.icon-detail:before {
  content: "\e92a";
}

.icon-download:before {
  content: "\e92b";
}

.icon-call:before {
  content: "\e92c";
}

.icon-menu:before {
  content: "\e92d";
}

.icon-logout:before {
  content: "\e92e";
}

.icon-key:before {
  content: "\e92f";
}

.icon-user:before {
  content: "\e930";
}

.icon-lock-pw:before {
  content: "\e931";
}

.icon-memo:before {
  content: "\e932";
}

.icon-exchange-arrows:before {
  content: "\e933";
}

.icon-r-swim:before {
  content: "\e934";
}

.icon-r-wim:before {
  content: "\e935";
}

.icon-r-computer:before {
  content: "\e936";
}

.icon-r-gym:before {
  content: "\e937";
}

.icon-r-kid:before {
  content: "\e938";
}

.icon-r-KTV:before {
  content: "\e939";
}

.icon-r-meeting:before {
  content: "\e93a";
}

.icon-r-movie2:before {
  content: "\e93b";
}

.icon-r-read:before {
  content: "\e93c";
}

.icon-p-return:before {
  content: "\e93d";
}

.icon-back:before {
  content: "\e93e";
}

.icon-ann:before {
  content: "\e93f";
}

.icon-house-money:before {
  content: "\e940";
}

.icon-postals:before {
  content: "\e941";
}

.icon-lock:before {
  content: "\e942";
}

.icon-user-admin:before {
  content: "\e943";
}

.icon-push:before {
  content: "\e944";
}

.icon-p-des:before {
  content: "\e945";
}

.icon-p-list:before {
  content: "\e946";
}

.icon-p-receive:before {
  content: "\e947";
}

.icon-barcode:before {
  content: "\e948";
}

.icon-nfc-card-01:before {
  content: "\e949";
}

.icon-nfc-card-02:before {
  content: "\e94a";
}

.icon-sign:before {
  content: "\e94b";
}

.icon-open-service:before {
  content: "\e94c";
}

.icon-feedback:before {
  content: "\e94d";
}

.icon-identification:before {
  content: "\e94e";
}

.icon-mobile-qr:before {
  content: "\e94f";
}

.icon-men-admin:before {
  content: "\e950";
}

.icon-package:before {
  content: "\e951";
}

.icon-date:before {
  content: "\e952";
}

.icon-identification-exit:before {
  content: "\e953";
}

.icon-more:before {
  content: "\e954";
}

.icon-men-admin-s:before {
  content: "\e955";
}

.icon-menu-grid:before {
  content: "\e956";
}

.icon-home:before {
  content: "\e957";
}

.icon-r-common:before {
  content: "\e958";
}

.icon-men-admin-2:before {
  content: "\e959";
}

.icon-pencil:before {
  content: "\e95a";
}

.icon-signal:before {
  content: "\e95b";
}

.icon-delete:before {
  content: "\e95c";
}

.icon-edit:before {
  content: "\e95d";
}

.icon-add:before {
  content: "\e95e";
}

.icon-pie:before {
  content: "\e95f";
}

.icon-reservation:before {
  content: "\e960";
}

.icon-images:before {
  content: "\e961";
}

.icon-clean:before {
  content: "\e962";
}

.icon-give-card:before {
  content: "\e963";
}

.icon-list:before {
  content: "\e964";
}

.icon-filter:before {
  content: "\e965";
}

.icon-coin-pu:before {
  content: "\e966";
}

.icon-arrow-right:before {
  content: "\e967";
}

.icon-check-circle:before {
  content: "\e968";
}

.icon-close:before {
  content: "\e969";
}

.icon-cog:before {
  content: "\e96a";
}

.icon-passkey:before {
  content: "\e96b";
}

.icon-mobile:before {
  content: "\e96c";
}

.icon-mail-mark:before {
  content: "\e96d";
}

.icon-check-mark:before {
  content: "\e96e";
}

.icon-upfile:before {
  content: "\e96f";
}

.icon-pushMsg:before {
  content: "\e970";
}

.icon-keyboard:before {
  content: "\e971";
}

.icon-cancel:before {
  content: "\e972";
}

.icon-back-thin:before {
  content: "\e973";
}

.icon-gas-meter:before {
  content: "\e974";
}

.icon-m-next:before {
  content: "\e975";
}

.icon-m-back:before {
  content: "\e976";
}

.icon-questions-circular-button:before {
  content: "\e977";
}

.icon-photo-camera:before {
  content: "\e978";
}

.icon-copy:before {
  content: "\e979";
}

.icon-arrow-left:before {
  content: "\e97a";
}

.icon-arrow-right2:before {
  content: "\e97b";
}

.icon-plus2:before {
  content: "\e97c";
}

.icon-minus:before {
  content: "\e97d";
}

.icon-exclamation:before {
  content: "\e97e";
}

.icon-wifi:before {
  content: "\e97f";
}

.icon-double-arrow:before {
  content: "\e980";
}

.icon-camara:before {
  content: "\e981";
}

.icon-mic:before {
  content: "\e982";
}

.icon-stop:before {
  content: "\e983";
}

.icon-start:before {
  content: "\e984";
}

.icon-announce:before {
  content: "\e985";
}
